<div class="card">
  <h6>Timeline con información por meses</h6>
  <div style="width: 200%">
    <p-timeline [value]="entriesPerMonth" layout="horizontal" align="top">
      <ng-template pTemplate="marker" let-entry>
        <span
          class="custom-marker p-shadow-2"
          [style.background]="entry.events ? 'blue' : 'grey'"
        >
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-entry>
        <button
          *ngFor="let event of entry.events"
          type="button"
          pButton
          pRipple
          style="font-size:10px; text-align: left"
          [label]="event.date + ' - ' + event.label"
          [class]="'p-button-' + event.severity"
          [pTooltip]="event.description"
        ></button>
      </ng-template>
      <ng-template pTemplate="opposite" let-entry style="max-height: 10px">
        <span>{{ entry.label }}</span>
      </ng-template>
    </p-timeline>
  </div>
</div>
